body {
    text-align: center;
    padding: 40px;
    
}

.relogio {
    font-size: 48px;
    border:solid    5px;
    border-color: rgb(255, 0, 0);
    border-radius: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    width: 220px;
    font-family: monospace;
}
